@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./bootswatch";

*:focus {outline:none !important}

body {
  font-family: 'Exo', sans-serif;
  color: $primary;
}

.container-fluid {
  padding: 0;
}

.row{
  margin:0 !important;
}

.owl-dots {
  display: none;
}

.owl-next {
  width: 70px;
  height: 60px;
  margin: 0 !important;
  border-radius: 0 !important;
  background: $primary !important;
  position: relative;

  span {
    color: $white;
    font-size: 50px;
    top: -9px;
    right: 19px;
    position: absolute;
  }
}

.owl-prev {
  width: 70px;
  height: 60px;
  margin: 0 !important;
  border-radius: 0 !important;
  background: $primary !important;
  position: relative;

  span {
    color: $white;
    font-size: 50px;
    top: -9px;
    right: 32px;
    position: absolute;
  }
}



.header {
  position: relative;

  .navbar {
    min-height: 125px;
    background-color: #FFFFFF;
  }

  .header__logo {
    height: 72px;
    width: 82px;
    margin-left: 96px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }

  .navbar-nav {
    .nav-item .nav-link {
      font-size: 1.25rem;
      color: $primary;
      font-family: 'Exo', sans-serif;
    }

    .active .nav-link {
      color: $pink;
    }
  }

  .header__image {
    width: 100%;
  }

  .header__content {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 45%;
    height: 35%;

    .content__title {
      font-family: 'Exo';
      font-size: 2vw;
      margin: 5% 0 0 10%;
      color: $primary;

    }

    .content__sub-title {
      font-family: 'Exo';
      font-weight: bold;
      font-size: 3.5vw;
      margin: 3% 0 0 10%;
      color: $pink;
    }

    .content__out-line {
      transform: rotate(270deg);
      position: absolute;
      left: 0;
      top: 4vw;
      font-family: 'Exo', sans-serif;
      font-weight: bold;
      font-size: 6vw;
      color: $white;
      opacity: 0.3;
      text-shadow: $primary 0px 0px 1px, $primary 0px 0px 1px, $primary 0px 0px 1px, $primary 0px 0px 1px, $primary 0px 0px 1px, $primary 0px 0px 1px, $primary 0px 0px 1px, $primary 0px 0px 1px, $primary 0px 0px 1px, $primary 0px 0px 1px;
    }
  }
}

.sub-header {
  background-color: rgba(41, 34, 100, 0.1);
  display: flex;
  align-items: center;
  margin: 0 17% 0 3%;
  padding: 7% 0 7% 1%;

  @include media-breakpoint-down(md) {
    margin: 0;
    padding: 8% 0 8% 0%;
  }

  .sub-header__title {
    display: inline-block;
    height: auto;
    transform: rotate(270deg);
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    margin-right: -15px;
    font-size: 3.5rem;
    color: #eae9f0;
    text-shadow: $pink 0px 0px 1px, $pink 0px 0px 1px, $pink 0px 0px 1px, $pink 0px 0px 1px, $pink 0px 0px 1px, $pink 0px 0px 1px, $pink 0px 0px 1px, $pink 0px 0px 1px, $pink 0px 0px 1px, $pink 0px 0px 1px;

    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }
  }

  .sub-header__content {
    display: inline-block;
    width: 60%;

    @include media-breakpoint-down(md) {
      width: 52%;
    }

    @include media-breakpoint-down(sm) {
      width: 45%;
    }

    .content__title {
      font-size: 2rem;
      font-weight: bold;
      color: $pink;

      @include media-breakpoint-down(md) {
        font-size: 1.6rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 1.4rem;
      }
    }

    .content__text {
      font-size: 1.6rem;

      @include media-breakpoint-down(md) {
        font-size: 1.2rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 1rem;
      }
    }
  }

  .sub-header__images {
    position: absolute;
    right: 10%;

    @include media-breakpoint-down(md) {
      right: 1%;
    }

    img {
      max-width: 170px;
      max-height: 160px;
      width: 18vw;
      height: 16vw;
      padding: 1%;
      -webkit-filter: drop-shadow(3px 3px 3px #00000073);
      filter: drop-shadow(3px 3px 3px #00000073);
    }

    :last-child {
      position: absolute;
      top: 100%;
      margin-top: 3px;
      right: 0;
    }
  }
}

.our-business {
  margin-top: 100px;
  height: 500px;

  .our-business__title {
    transform: rotate(270deg);
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 15px;
  }

  .our-business__box {
    padding-right: 50px;

    .box__icon-mission {
      background-image: url('../images/mission.png');
      background-size: 100%;
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
    }

    .box__icon-approach {
      background-image: url('../images/approach.png');
      background-size: 100%;
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
    }

    .box__icon-vision {
      background-image: url('../images/vision.png');
      background-size: 100%;
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
    }

    .box__title {
      color: $primary;
      font-weight: bold;
      font-size: 25px;
    }

    .box__description {
      color: $primary;
      font-size: 18px;
    }
  }
}



.our-team {
  .our-team__title {
    transform: rotate(270deg);
    font-size: 2.6vw;
    display: block;
    font-weight: bold;
    width: 275px;
    position: absolute;
    padding: 0;
    word-spacing: 10px;
    bottom: 13.5vw;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

#quote-carousel .carousel-control {
  background: none;
  color: #CACACA;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

#quote-carousel .carousel-indicators {
  position: relative;
  display: flex;
  align-items: center;
  right: 50%;
  top: auto;
  bottom: 0px;
  margin: 20px;
}

#quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
  opacity: 0.4;
  overflow: hidden;
  transition: all .4s ease-in;
  vertical-align: middle;
}

#quote-carousel .carousel-indicators .active {
  width: 100px;
  height: 100px;
  opacity: 1;
  transition: all .2s;
}

.item blockquote {
  border-left: none;
  margin: 0;
}

.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}

.carousel-control-next {
  right: -10%;
  opacity: 1;
  top: 40%;
}

.carousel-control-prev {
  left: -10%;
  opacity: 1;
  top: 40%;
}

.carousel-inner {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  border: 1px solid #2922641a;
  padding: 30px;
  .carousel-item strong {
    display: block;
    color: $purple;
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0;
  }
  .carousel-item small {
    display: block;
    font-size: 12px;
    color: $pink;
    margin: 5px 0 10px 0;
  }
}

.fa-arrow-circle-right:before, .fa-arrow-circle-left:before {
  color: $pink;
  font-size: 30px;
}

.testimonials {
  min-height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.our-projects {
  min-height: 400px;
  display: flex;
  align-items: center;
  margin: 100px 0 !important;
  &__title {
    margin: 50px 0;
    font-weight: bold;
    font-size: 35px;
  }
}

.card {
  cursor: pointer;
  width: 18rem;
  margin: 10px;
  position: relative;
  border: none;
  &:hover {
    border: 1px solid $primary;
    .card-text {
      display: block !important;
    }
    .fa-long-arrow-right{
      background: $primary;
      color: $white;
      bottom: 0;
    }
  }
  .card-text {
    width: 80%;
  }
  .fa-long-arrow-right {
    position: absolute;
    bottom: 73px;
    border: 0;
    background: $white;
    right: 0;
    width: 60px;
    text-align: center;
    font-size: 30px;
    height: 60px;
    &::before {
      text-align: center;
      top: 16px;
      position: absolute;
      right: 12px;
    }
  }
}
/*Start Footer Style*/
.footer {
  padding: 67px 20px 41px 85px;
  background-color: $purple;
  margin-top: 80px;
  .footer__img {
    width: 104px;
    height: 93px;
    margin-bottom: 30px;
  }

  .footer__desc {
    font-size: 18px;
    color: $white;
  }
  .footer__navigation {
    list-style-type: none;
    .footer__navigation--item {
      font-size: 20px;
      color: $white;
      padding-top: 26px;
      line-height: 27px;
      cursor: pointer;
    }
  }

  .subscribe {
    padding: 48px 0px 20px 53px;
    background-color: $pink;
    margin-top: -20%;
    .subscribe__title {
      color: $white;
      font-size: 30px;
      margin-bottom: 30px;
    }
    .subscribe__input {
      input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $purple;
        width: 60%;
        font-size: 20px;
        padding: 0 0 10px 0;
        color: $purple;
        font-weight: 500
      }
      input::placeholder {
        color: $purple;
      }
      input:focus{
        outline: none;
      }
    }
    .subscribe__btn {
      button {
        font-size: 25px;
        padding: 20px 41px 26px 42px;
        background-color: $purple;
        color: $white;
        border: none;
        float: right;
        margin-top: -44px;
      }
    }
  }
}
/*End Footer Style*/
